body{
    background-color: #212121
}

.topline{    
    background-color: rgb(255, 102, 0); 
    height: 3px; 
    width: 100%;
    margin-bottom: 30px;
}


.top-banner{
    width: 80%; 
    margin: 0 auto;
}

.logo{
    width: 14%; 
    margin-right: 20px;
    float: left; 
    color: aliceblue; 
}

.top-banner-info{
    color: white;
    width: 15%;
    float: left;
}

.top-banner-info img{
    width: 16%;
    float: left;
}

.top-banner-info div{
    width: 84%;
    float: left;
}

.search-panel{
    width: 14%;
    float: left;
}



.menubar{
    margin-top: 20px;
    padding:10px 0px 10px 80px;
    background-color: rgba(12, 12, 12, 0.466); 
    color: aliceblue;
    width: 100%;
    float: left;
        
}

.menucontent{
    margin-left: 50px;

}

.menu-button{
    list-style-type: none;
}

li {
    float: left; width: 8%
    
}

.btn-group{
    background-color: rgba(0, 0, 255, 0);
}

.my-custom-color{ 
    color: aliceblue;
    background-color:rgba(12, 12, 12, 0.466);

}

.slider{
    float: left;
}

.band{
        width: 74%;
    margin: 0 auto;
}

.band-box{
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px; 
    float: left;
}

.blockquote{
    margin-top: 50px;
    background-color: rgba(12, 12, 12, 0.466);
    color: aliceblue;
    width: 100%;
    float: left;
}