body{
    background-color: #212121
}

.topline{    
    background-color: #dc3545; 
    height: 3px; 
    width: 100%;
    margin-bottom: 30px;
    float: left;
}


.top-banner{
    width: 80%; 
    margin: 0 auto;
}

.logo{
    width: 14%; 
    margin-right: 20px;
    float: left; 
    color: aliceblue; 
}

.top-banner-info{
    color: white;
    width: 15%;
    float: left;
}

.top-banner-info img{
    width: 16%;
    float: left;
}

.top-banner-info div{
    width: 84%;
    float: left;
}

.search-panel{
    width: 14%;
    float: left;
}



.menubar{
    margin-top: 20px;
    padding:10px 0px 10px 148px;
    background-color: rgba(12, 12, 12, 0.466); 
    color: aliceblue;
    width: 100%;
    float: left;
        
}

.menucontent{
    margin-left: 50px;

}

.menu-button{
    list-style-type: none;
    padding: 0px 10px 0px 10px
 }

li {
    float: left; width: 8%
    
}

.dropdown-item{
    color: aliceblue;
}



.btn-group{
    background-color: rgba(0, 0, 255, 0);


}

.my-custom-color{ 
    color: aliceblue;
    background-color:rgba(12, 12, 12, 0.466);

}

.slider{
    float: left;
}

.band{
        width: 86%;
    margin: 0 auto;

}



.band-box{
    padding-top: 50px;
    padding-left: 60px;
    padding-right: 60px; 
    float: left;

}

.blockquote{
    margin-top: 50px;
    background-color: rgba(12, 12, 12, 0.466);
    color: aliceblue;
    width: 100%;
    float: left;
}

.navbar{
    float: left;
    width: 100%;
}

.navbar-nav{
    width: 100%;
}

.blockquote{
    padding: 10px 0px 10px 0px;
    margin-bottom: 0px;
}


.insta{
    float: left;
    background-color: whitesmoke;
    width: 100%;
    padding: 30px 10% 100px 10%;
    margin: 60px 00px 20px 0px;

}

.bottom-line{
    background-color: #dc3545; 
    height: 3px; 
    width: 100%;
    float: left;
    padding-top: 
}