body{
    background-color: blueviolet
}

.topline{    
    background-color: rgb(255, 102, 0); 
    height: 3px; 
    width: 100%;
    margin-bottom: 30px;
}

.logo{
    width: 14%; 
    border: 1px blue solid; 
    float: left; 
    color: aliceblue; 
}

.top-banner-info{
    width: 20%;
    float: left;
}

.top-banner-info img{
    width: 10%;
    float: left;
}

.top-banner-info div{
    width: 90%;
    float: left;
}

.search-panel{
    width: 14%;
    float: left;
}

.top-banner{
    width: 70%; 
    background-color: rgb(160, 150, 150); 
    margin: 0 auto;
}

.menubar{
   padding-top: 10px;padding-bottom: 20px; padding-left: 50px; padding-right: 10px;
    background-color: rgba(12, 12, 12, 0.466); color: aliceblue;
}

li {
    float: left; width: 5%
}